#ingtusdatos{
margin-top: 100px;
text-align: center;
font-family: Courier New;
font-size: 70px;
}

#ingresatusdatos{
    background-color: #F5B7B1 ;
    margin-top: 100px;
}

.table{
background-color: #59C7A1;
margin-top: 100px;
}

#tode{
    background-color: #AEB6BF;
}